<div class="home-frame">

    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Power</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in Products">
                <td>{{row.company_name}}</td>
                <td>{{row.product_name}}</td>
                <td>{{row.quantity}}</td>
                <td>{{row.power}}</td>
            </tr>
        </tbody>
    </table>
</div>